<div class='card'>
  <div class='card-header'>
  <span text-align='left'>Product List </span>
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h4 *ngIf='listFilter'>Filtered by:  {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='products && products.length>0'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)='toggleImage()'>
                {{showImage?'Hide Image':'Show Image'}}
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor='let product of filteredProducts' >
            <td ><span ><img *ngIf='showImage' [src]='product.imageUrl' 
              [title]='product.productName' 
              [style.width.px]='imageWidth'
              [style.margin.px]='imageMargin'></span>  </td>
            <td><a [routerLink]="['/products',product.productId]">{{ product.productName }} </a></td>
            <td>{{ product.productCode | convertToSpaces:'-'}}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>  
            <!-- <td>{{ product.starRating }}</td> -->
            <td><app-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></app-star></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>